/* Remove default padding and margin */
* {
  padding: 0;
  margin: 0;
}

/* Main with a height of 100% viewport */
main {
  background-color: gainsboro;
  margin: auto;
  height: 100vh;
}

/* Title */
#title {
  text-align: center;
  margin-bottom: 1rem;
}

/* Game */
#game {
  width: 400px;
  height: 500px;
  border: 1px solid black;
  margin: auto;
  overflow: hidden;
}

/* Pipes */
#block {
  width: 50px;
  height: 500px;
  background-color: green;
  position: relative;
  left: 400px;
  animation: block 2s infinite linear;
}

/* Movement aimation */
@keyframes block {
  0% {
    left: 400px;
  }
  100% {
    left: -50px;
  }
}

/* Gap */
#hole {
  width: 50px;
  height: 150px;
  background-color: gainsboro;
  position: relative;
  left: 400px;
  /* Height of the block */
  top: -500px;
  animation: block 2s infinite linear;
}

/* Character */
#mac {
  width: 20px;
  height: 20px;
  background-color: red;
  position: absolute;
  top: 100px;
  border-radius: 50%;
}
